@media only screen and (min-width: $small) and (max-width: $medium){
    //Header area style
    #header_area{
        .inner{
            display: block;
        }
        //top header
        .top_header_area{
            .address,
            .phone_area,
            .email{
                display: none;
            }
            
            .social_area{
                ul{
                    text-align: center;
                }
            }
            .mobile_bars{
                display: block;
                position: absolute;
                right: 10px;
                top: 10px;
                i{
                    color: $whiteColor;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
        //main reader 
        .main_header{
            .logo_area{
                width: 200px;
                margin: 0 auto;
            }
        }
    }

    //hero area style
    #hero_area{
        .inner{
            flex-direction: column;
        }
        .admin_info{
            flex-basis: 100%;
            padding: 20px;
            order: 2;
        }
        .admin_image{
            order: 1;
            flex-basis: 100%;
        }
    }

    //abou area style
    #about_area{
        .inner{
            flex-direction: column;
        }
        .about_numbers{
            flex-basis: 100%;
            .child_about{
                h4{
                    font-size: 25px;
                }
                h6{
                    font-size: 14px;
                }
            }
        }
        .about_info{
            flex-basis: 100%;
            padding: 20px;
            h3{
                font-size: 25px;
            }
            h6{
                font-size: 15px;
            }
        }
    }

    //service area
    #service_area{
        .inner{
            flex-direction: column;
        }
        .child_service{
            margin-bottom: 25px;
            padding: 20px;
            i{
                margin-bottom: 10px;
            }
            h4{
                font-size: 22px;
                padding-bottom: 10px;
            }
            p{
                font-size: 14px;
            }
        }
    }

    //project area
    #project_area{
        .inner-grid{
            display: block;
        }
        .child_project{
            margin-bottom: 15px;

        }
    }

    //blog area
    #blog_area{
        .inner{
            flex-direction: column;
        }
        .child_blog{
            margin-bottom: 25px;
        }
    }

    //contact area
    #contact_area{
        .inner, .contact_info{
            flex-direction: column;
        }
        .contact_info{
            
            div{
                padding: 20px;
                margin-bottom: 20px;
            }
            iframe{
                margin-top: 0;
                margin-bottom: 20px;
            }

        }
    }
}
